@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "IBM Plex Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  scroll-behavior: smooth;
}
